<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Enter Date and Location">
        <br />
        <form [formGroup]="firstFormGroup">
            <div>
                <mat-form-field appearance="fill" class="formInput">
                    <mat-label>Select Date</mat-label>
                    <input matInput [matDatepicker]="dp3" 
                        id="dateId"
                        placeholder="dd-MMM-yyyy"
                        name="inputDate"
                        formControlName="dateInput"
                        [(ngModel)]="selectedDate"
                        disabled />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="dp3"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="halfWidth">
                    <mat-label>Select Time</mat-label>
                      <input
                          matInput  
                          placeholder="Time of Match"
                          [ngxTimepicker]="toggleTimepicker"
                          [(ngModel)]="selectedTime"
                          name="inputTime"
                          [format]="24"
                          formControlName="timeInput"
                          readonly
                      />
                      <!-- <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle> -->
                      <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="formInput">
                    <mat-label>Location</mat-label>
                    <input matInput placeholder="Enter location" [(ngModel)]="matchDetails.location" formControlName="locationInput">
                </mat-form-field>
            </div>
            <div>
                <!-- <button mat-raised-button color="primary" (click)="combineDateAndTime()">Date Merge</button> -->
                <button mat-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Pick your players">
        <div>
            <section fxLayout="row wrap" class="sectionContent">
                <app-member-list [members]="club.members" fxFlex="75%"></app-member-list>
            </section>
            <!-- <button mat-raised-button color="primary" (click)="onGenerateClick()">
                Generate
            </button> -->
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary" (click)="onGenerateClick()">Next</button>
        </div>
    </mat-step>
    <mat-step label="Review">
        <!-- Review and Confirm -->
        <div>
            <!-- Match Team One -->
            <section
            fxFlex="55%"
            fxLayoutAlign="center"
            style="padding-right: 1vw; padding-left: 1vw;"
            class="scrollable">
            <div class="example-container">
                <h2>Team One</h2>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="teamOne"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="example-box" *ngFor="let item of teamOne" cdkDrag>
                        {{ item.email }}
                    </div>
                </div>
            </div>
            <!-- Team Two Member List -->
            <div class="example-container">
                <h2>Team Two</h2>
    
                <div
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="teamTwo"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="example-box" *ngFor="let item of teamTwo" cdkDrag>
                        {{ item.email }}
                    </div>
                </div>
            </div>
        </section>
        <!-- Summary -->
        <section>

        </section>
        </div>
        <div>
            <!-- <button mat-button color="primary">Save</button> -->
            <!-- Button controls -->
            <section fxLayout="row wrap" class="sectionContent">
                
                <button mat-raised-button color="primary" (click)="onSaveMatchClick()"> Save Match </button>
            </section>
        </div>
    </mat-step>
</mat-horizontal-stepper>





