<mat-horizontal-stepper #stepper>
  <!-- First Stepper Item -->
    <mat-step [stepControl]="firstFormGroup" label="Enter Date and Location">
        <br />
        <form [formGroup]="firstFormGroup">
            <div>
                <mat-form-field appearance="fill" class="formInput">
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date and time" formControlName="dateControl">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                        [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                        [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="formInput">
                    <mat-label>Location</mat-label>
                    <input matInput placeholder="Enter location" [(ngModel)]="matchDetails.location" formControlName="locationInput">
                </mat-form-field>
                <!-- Convert to a toggle -->
                <mat-label>Send Invites</mat-label>
                <!-- <mat-radio-group [(ngModel)]="checked" color="primary" class="radio-horizontal">
                    <mat-radio-button [value]="true" class="radio-button">Yes</mat-radio-button>
                    <mat-radio-button [value]="false" class="radio-button">No</mat-radio-button>
                </mat-radio-group> -->
            </div>
            <div>
                <!-- <button mat-raised-button color="primary" (click)="combineDateAndTime()">Date Merge</button> -->
                <button mat-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <!--  -->
    <!--  -->
    <mat-step [stepControl]="secondFormGroup" label="Pick your players">
        <div>
            <section fxLayout="row wrap" class="sectionContent">
                <app-member-list [members]="club?.members" [showSelector]="true" fxFlex="75%"></app-member-list>
            </section>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary" (click)="onGenerateClick()">Next</button>
        </div>
    </mat-step>
    <!--  -->
    <!--  -->
    <mat-step label="Review">
        <!-- Review and Confirm -->
        <div>
            <!-- Match Team One -->
            <section
            fxFlex="55%"
            fxLayoutAlign="center"
            style="padding-right: 1vw; padding-left: 1vw;"
            class="scrollable">
            <div class="example-container">
                <h2>Team One</h2>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="teamOne"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of teamOne" cdkDrag>
                        {{ item.email }}
                    </div>
                </div>
            </div>
            <!-- Team Two Member List -->
            <div class="example-container">
                <h2>Team Two</h2>

                <div
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="teamTwo"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of teamTwo" cdkDrag>
                        {{ item.email }}
                    </div>
                </div>
            </div>
            <div>
            <!-- <button mat-raised-button color="primary" (click)="onGenerateClick()">
                Re-Generate
            </button> -->
            </div>
        </section>

        <!-- Summary -->
        <section>
        </section>
        </div>
        <div>
            <!-- <button mat-button color="primary">Save</button> -->
            <!-- Button controls -->
            <section fxLayout="row wrap" class="sectionContent">

                <button mat-raised-button color="primary" (click)="onSaveMatchClick()"> Save Match </button>
            </section>
        </div>
    </mat-step>
</mat-horizontal-stepper>





