/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Default tables to fill the full width
table {
    width: 100%;
}

// New base body content to wrap all contents into each base template!
.contentBody
{
    margin: 10px;
}

