<div class="container">
    <h3 mat-dialog-title>New Club</h3>

    <form class="mat-dialog-content" [formGroup]="form">
        <div class="form">
            <mat-form-field color="accent">
                <input id="memberFirstName" matInput placeholder="FirstName" value="" name="firstname" formControlName="firstname" />
                <mat-error *ngIf="firstname.errors"></mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
                <input id="memberLastName" matInput placeholder="LastName" value="" name="lastname"
                    formControlName="lastname" />
                <mat-error *ngIf="lastname.errors"></mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
                <input id="memberemail" matInput placeholder="Email" value="" name="email" formControlName="email" />
                <mat-error *ngIf="email.errors"></mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="actionButtons">
            <button mat-raised-button [disabled]="!form.valid" (click)="onClose()" class="actionButton"
                color="primary">Save</button>
            <button mat-raised-button [mat-dialog-close]="null" class="actionButton" color="warn">Cancel</button>
        </div>
    </form>
</div>
