<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a
                mat-list-item
                *ngIf="!isAuthenticated"
                routerLink="/sign-in"
                routerLinkActive="active">
                Sign In
            </a>
            <a mat-list-item routerLink="/home" routerLinkActive="active">
                Home
            </a>
            <a
                mat-list-item
                *ngIf="isAuthenticated"
                routerLink="/clubs/list"
                routerLinkActive="active">
                Clubs
            </a>
            <a
                mat-list-item
                *ngIf="isAuthenticated"
                routerLink="/locations/list"
                routerLinkActive="active">
                Locations
            </a>
            <!-- <a mat-list-item *ngIf="isAuthenticated" (click)="auth.signOut()">
                Sign Out
            </a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Club Creator : {{ pageTitle }}</span>
            <!-- Spacer for far right toolbar items -->
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="isAuthenticated" (click)="auth.signOut()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sign Out</span>
                </button>
              </mat-menu>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
