<div class="container">
    <h3 mat-dialog-title>New Club</h3>

    <form class="mat-dialog-content" [formGroup]="form">
        <div class="form">
            <mat-form-field color="accent">
                <input id="clubName" matInput placeholder="Club Name" value="" name="name" formControlName="name" />
                <mat-error *ngIf="name.errors"></mat-error>
                <button
                    mat-button
                    *ngIf="data.name"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="data.name = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-slide-toggle
                [checked]="data.private"
                (change)="onPrivateChange($event)"
                color="primary"
                >Private</mat-slide-toggle
            >
        </div>

        <br />

        <div mat-dialog-actions class="actionButtons">
            <button mat-raised-button [disabled]="!form.valid" (click)="onClose()" class="actionButton"
                color="primary">Save</button>
            <button mat-raised-button [mat-dialog-close]="null" class="actionButton" color="warn">Cancel</button>
        </div>
    </form>
</div>
