<!-- <div class="dialogContainer">
    <h3 mat-dialog-title>Create Match</h3>

    <form class="mat-dialog-content" [formGroup]="form">

      <!-- Date Selection 
        <mat-form-field appearance="fill">
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="dp3" 
                id="dateId"
                placeholder="dd-MMM-yyyy"
                name="inputDate"
                [(ngModel)]="data.date"  
              formControlName="inputDate"
              disabled />
            <mat-datepicker-toggle
                matSuffix
                [for]="dp3"
            ></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- Time Selection 
        <mat-form-field>
          <mat-label>Select Time</mat-label>
            <input
                aria-label="default time"
                [ngxTimepicker]="defaultValue"
                [value]="'05:11 pm'"
                readonly
            />
            <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
        </mat-form-field>

        <!-- Location Input 
        <mat-form-field>
            <mat-label>Enter a location</mat-label>
            <input matInput [(ngModel)]="data.location" />
        </mat-form-field>

        <!-- Action Events (Saved and Cancel)
        <div mat-dialog-actions>
            <button
                mat-button
                [disabled]="!form.valid"
                [mat-dialog-close]="data"
                class="actionButton"
                color="primary"
            >
                Save
            </button>
            <button
                mat-button
                [matDialogClose]="null"
                class="actionButton"
                color="warn"
            >
                Cancel
            </button>
        </div>
    </form>
</div> -->
