<p>match-list - TODO: add a table, etc...</p>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input
        matInput
        (keyup)="doFilter($event)"
        placeholder="enter match"
        #input
    />
</mat-form-field>

<div class="mat-elevation-z8">
    <div class="table-container">
        <table
            id="matchListTable"
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
        ></table>

        <!-- If the data source is empty the table will display 'No Results' -->
          <div
                class="no-results"
                [style.display]="dataSource.data.length == 0 ? '' : 'none'"
          >
            No Records Found!
          </div>
    </div>
    <mat-paginator
    id="matchesListPaginator"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
></mat-paginator>
</div>
