<div class="contentBody">
  <p>More information will be presented here shortly!!</p>

  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Clubs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Show and display club details
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/Clubs/list"><button mat-button>Navigate</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Show all users!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/users/list"><button mat-button>Navigate</button></a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
  <mat-card class="mat-elevation-z4" >
    <mat-card-header>
      <mat-card-title>Locations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Show all Locations!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/locations/list"><button mat-button>Navigate</button></a>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
